<div class="row">
  <form class="col s12" action="/auth/login" method="POST">
    <div class="row">
      <div class="input-field col s12">
        <label for="authEmail">Email</label>
        <input id="authEmail" class="validate" type="email" name="email">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <label for="authPassword">Password</label>
        <input id="authPassword" class="validate" type="password" name="password">
      </div>
    </div>

    <input class="waves-effect waves-light btn" type="submit">
  </form>
</div>
