<nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Ryokou</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/trips">My Trips</a></li>
      </ul>
    </div>
  </nav>

<h1>Ryokou - your journey awaits</h1>
