<nav>
    <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">venturesome</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="/auth/signup">Signup</a></li>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/logout">Logout</a></li>
        <li><a href="/trips">My Trips</a></li>
      </ul>
    </div>
</nav>

<div class="parallax-container col s12">
  <div class="parallax"><img src="img/wing.jpg"></div>
</div>
<div class="section white col s12">
  <div class="row container">
    <h2 class="header"></h2>
    <p class="grey-text text-darken-3 lighten-3"><h1>let the journey begin</h1></p>
  </div>
</div>
<div class="parallax-container col s12">
  <div class="parallax"><img src="img/sunset.jpg"></div>
</div>
