#sunset {
  width: 2000px;
  height: 1000px;
}

#createaccount {
  text-align: center;
  margin: 50px auto auto auto;
}

.brand-logo {
  margin-left: 20px;
}

.signup-container {
  margin: 70px;
}

.categories {
  display: none;
}

.parallax-container {
      height: 400px;
}
