<nav class="nav blue">
  <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">venturesome</a>
      <% if (currentUser !== undefined) { %>
      <ul class="right hide-on-med-and-down nav-ul">
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/logout">logout</a></li>
      </ul>
      <%  } else { %>
      <ul class="right hide-on-med-and-down">
        <li><a href="/auth/signup">signup</a></li>
        <li><a href="/auth/login">login</a></li>
      </ul>
      <% }; %>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">home</a></li>
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/auth/signup">signup</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="row">
  <div class="col s8 offset-s2">
    <h4>Move <%= business.name %> to a different category?</h4>
  </div>
</div>

<div class="row">
  <form method="PUT" class="col s8 offset-s3 edit-form" action="/trips/<%= business.tripId %>/businesses/<%= index %>">
      <div class="input-field col s8">
        <select id="newcategory" name="category">
          <option value="" disabled selected>Select a new category...</option>
          <option value="active">Active/Outdoor</option>
          <option value="arts">Arts/Entertainment</option>
          <option value="beautysvc">Beauty/Spas</option>
          <option value="food">Food</option>
          <option value="hotelstravel">Hotels/Travel</option>
          <option value="nightlife">Nightlife</option>
          <option value="restaurants">Restaurants</option>
          <option value="shopping">Shopping</option>
        </select>
        <label>Move this business to a different category:</label>
      </div>
      <input type="submit" value="Change It" class="edit-biz btn waves-effect waves-light offset-s4">
  </form>
</div>
