<div class="row">
  <div class="col s8 offset-s2">
    <h4>Move <%= business.name %> to a different category?</h4>
  </div>
</div>

<div class="row">
  <form method="PUT" class="col s8 offset-s3 edit-form" action="/trips/<%= business.tripId %>/businesses/<%= index %>">
      <div class="input-field col s8">
        <select id="newcategory" name="category">
          <option value="" disabled selected>Select a new category...</option>
          <option value="active">Active/Outdoor</option>
          <option value="arts">Arts/Entertainment</option>
          <option value="beautysvc">Beauty/Spas</option>
          <option value="food">Food</option>
          <option value="hotelstravel">Hotels/Travel</option>
          <option value="nightlife">Nightlife</option>
          <option value="restaurants">Restaurants</option>
          <option value="shopping">Shopping</option>
        </select>
        <label>Move this business to a different category:</label>
      </div>
      <input type="submit" value="Change It" class="edit-biz btn waves-effect waves-light offset-s4">
  </form>
</div>
