<h1>Add a Place to Visit</h1>

<form action="/trips" method="POST">
  <div class="form-group">
    <label for="city">Business</label>
    <input type="text" class="form-control" id="business" name="business" required>
  </div>

  <input type="submit" class="waves-effect waves-light btn">
</form>
