<nav class="nav blue">
  <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">venturesome</a>
      <% if (currentUser !== undefined) { %>
      <ul class="right hide-on-med-and-down nav-ul">
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/logout">logout</a></li>
      </ul>
      <%  } else { %>
      <ul class="right hide-on-med-and-down">
        <li><a href="/auth/signup">signup</a></li>
        <li><a href="/auth/login">login</a></li>
      </ul>
      <% }; %>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">home</a></li>
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/auth/signup">signup</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<div class="row">
  <div class="col s4 offset-s5">
    <h1>My Trips</h1>
  </div>
</div>

<div class="row">
  <div class="col s6 offset-s4">

  <% if(trips.length < 1) { %>
    <p class="notrips">You don't have any saved trips yet. Add a trip to get started!</p>
  <% } else { %>

    <p>Here are your trips:</p>

    <% trips.forEach(function(trip) { %>

        <div class="row">
          <a href="/trips/<%= trip.id %>">
            <%= trip.city %>
          </a>
        </div>
      <% }); %>
    <% }; %>
  </div>
</div>

<br />
<div class="row">
  <div class="col s4 offset-s5">
    <span><a class="btn-floating btn-large waves-effect waves-light blue" href="/trips/new"><i class="material-icons">add</i></a></span><span id="addtrip">  Add a Trip</span>
  </div>
</div>

<br />

<div class="row">
  <hr class="col s10 offset-s1">
</div>

<div class="row">
  <div class="col s1 offset-s1">
    <a href="/">&larr;Home</a>
  </div>
</div>
