<h1>Trips</h1>

<p>Here are your trips:</p>

<% trips.forEach(function(trip) { %>

  <% if(trips.length < 1) { %>
    <p class="text-info">You don't have any saved trips yet. Add a trip to get started!</p>
  <% } else { %>
    <div class="well">
      <a href="/trips/<%= trip.id %>">
        <%= trip.city %>
      </a>
    </div>
  <% } %>
<% }); %>

<hr />

<a href="/trips/new">Add a Trip</a>

<br />

<a href="/">&larr; Back Home</a>
