<nav class="nav blue">
  <div class="nav-wrapper col s12">
      <a href="/" class="brand-logo">venturesome</a>
      <% if (currentUser !== undefined) { %>
      <ul class="right hide-on-med-and-down nav-ul">
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/logout">logout</a></li>
      </ul>
      <%  } else { %>
      <ul class="right hide-on-med-and-down">
        <li><a href="/auth/signup">signup</a></li>
        <li><a href="/auth/login">login</a></li>
      </ul>
      <% }; %>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="/">home</a></li>
        <li><a href="/trips">my trips</a></li>
        <li><a href="/auth/login">login</a></li>
        <li><a href="/auth/logout">logout</a></li>
        <li><a href="/auth/signup">signup</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="dropdown-button" href="#!" data-activates="dropdown1">login<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>

<h1>Add a Trip</h1>

<div class="row col s12">
  <form method="POST" class="col s12" action="/trips">
      <div class="input-field col s12">
        <select id="cityselect" name="city">
          <option value="" disabled selected>Select a destination...</option>
          <option value="Berlin" name="city">Berlin</option>
          <option value="Edinburgh" name="city">Edinburgh</option>
          <option value="Hong Kong" name="city">Hong Kong</option>
          <option value="London" name="city">London</option>
          <option value="New York" name="city">New York</option>
          <option value="Oslo" name="city">Oslo</option>
          <option value="Paris" name="city">Paris</option>
          <option value="Rio de Janeiro" name="city">Rio de Janeiro</option>
          <option value="Rome" name="city">Rome</option>
          <option value="San Francisco" name="city">San Francisco</option>
          <option value="Sydney" name="city">Sydney</option>
          <option value="Tokyo" name="city">Tokyo</option>
        </select>
        <label>Where would you like to go?</label>
      </div>
      <input type="submit" class="waves-effect waves-light btn">
  </form>
</div>
