<h1>Add a Trip</h1>

<form action="/trips" method="POST">
  <div class="form-group">
    <label for="trip">City</label>
    <input type="text" class="form-control" id="trip" name="trip" required>
  </div>

  <input type="submit" class="btn btn-primary">
</form>
