<h1>Add a Trip</h1>

<form action="/trips" method="POST">
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" id="city" name="city" required>
  </div>

  <input type="submit" class="waves-effect waves-light btn">
</form>
