<h1><%= trip.city %></h1>

<% businesses.forEach(function(business) { %>

  <% if(businesses.length < 1) { %>
    <p class="text-info">You don't have any saved activities yet. Add an activity to get started!</p>
  <% } else { %>
    <div class="well">
      <a href="/businesses/<%= business.name %>">
        <%= business.name %>
      </a>
    </div>
  <% } %>
<% }); %>
